streamlit==1.64.0
torch==2.14.0
torchvision==0.29.0
torchaudio==2.11.0
numpy
pillow
opencv-python
scikit-learn
pandas
matplotlib
pyarrow
altair
watchdog
python-multipart
toml
pydeck
httptools
itsdangerous
narwhals
fpdf
