
streamlit==1.64.0
torch==2.14.0+cpu
torchvision==0.29.0+cpu
torchaudio==2.11.0+cpu
numpy
pillow
opencv-python
scikit-learn
pandas
matplotlib
pyarrow
altair
watchdog
python-multipart
toml
pydeck
httptools
itsdangerous
narwhals
fpdf

