streamlit==1.33.0
torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
numpy
pillow
opencv-python-headless
scikit-learn
pandas
matplotlib
pyarrow
altair
watchdog
python-multipart
toml
pydeck
httptools
itsdangerous
fpdf
